@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul), url(chrome://navigator/content/navigator.xul) {
	#PlacesToolbarItems {-moz-box-pack: end}
}