@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xhtml) {
	#personal-bookmarks toolbarbutton.bookmark-item {
		margin: 0px !important;
		border: none !important;
	}

	#personal-bookmarks toolbarbutton.bookmark-item .toolbarbutton-icon {
		padding: 0px !important;
		margin: 0px !important;
		border: none !important;
		max-height: 1000px !important; /* Previously a fix for OSX - still required? */
	}

	#personal-bookmarks toolbarbutton.bookmark-item .toolbarbutton-text,
	#personal-bookmarks toolbarbutton.bookmark-item .toolbarbutton-text-shadow {
		padding-left: 4px !important;
	}	

	@supports -moz-bool-pref('extensions.roomybookmarkstoolbar.autoHideBar'){
		#PersonalToolbar[collapsed="true"] #personal-bookmarks{
			visibility: hidden;
		}
	}
}