@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/multi-row_bookmarks.css */

@-moz-document url(chrome://browser/content/browser.xhtml) {
	#PersonalToolbar {
		min-height: unset !important;
		max-height: none !important;
		padding: 0px 0px 3px 0px !important;
	}
	  
	#PlacesToolbar > hbox { 
		display: block;
		width: 100vw;
	}
	  
	#PlacesToolbarItems {
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;
		scrollbar-color: var(--lwt-accent-color) var(--toolbar-bgcolor);
  		scrollbar-width: thin;
	}

	#PlacesChevron { display: none }	
}