@media (-moz-platform: linux) {
    #roomybookmarkstoolbarPreferences {
        min-width: 500px !important;
        max-width: 500px !important;
        min-height: 780px !important;
        max-height: 780px !important;
    }
}

input[type="number"] {
    width: 7ch;
    padding: 2px;
    margin-right: 0.5ch;
}

hbox checkbox {
    margin-right: 0.5ch;
}

.edge {
    margin-right: 2ch;
}

legend {
    font-weight: bold;
}

checkbox {
    white-space: nowrap;
}

fieldset {
    border: 1px solid var(--in-content-box-border-color);
}