input[type="number"] {
    width: 7ch;
    padding: 2px;
    margin-right: 0.5ch;
}

hbox checkbox {
    vertical-align: middle;
    margin-right: 0.5ch;
}

span {
    line-height: 2em;
    vertical-align: middle;
    margin-right: 0.5ch;
}

span.edge {
    margin-right: 2ch;
}

legend {
    font-weight: bold;
}

checkbox, span {
    white-space: nowrap;
}

/* tabpanels {
    width: 36rem;
    width: calc(100% - 30px) !important;
} */

/* #roomybookmarkstoolbarPreferences {
    width: 36rem;
} */

fieldset fieldset {
    border: 1px solid var(--in-content-box-border-color);
}