@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xhtml) {
	#navigator-toolbox {
		position: relative;
	}

	#PersonalToolbar {
		position: absolute;
		top: 100%;
		width: 100% !important;
		z-index: 2;
		border-bottom-color: inherit;
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
		border-bottom-style: inherit;
		border-bottom-width: inherit;
		border-collapse: inherit;
	}
}
